.nav{
    font-size:1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:rgb(9, 9, 126);
    padding:0.5px;
    background-color:rgb(197, 143, 197);
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}