.fooditem{
    max-width: 400px;
    height: 400px;
    border-radius: 8px ;
    box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    font-family: polysans, sans-serif;
    background-color:rgb(197, 143, 197); 
}
.itemimage{
   max-width: 500px;
   height:250px; 
   background-color:rgb(197, 143, 197);
}
.itemcontent{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.itemname{
    font-size: 1em;
    font-weight: 600;
    color:rgb(9, 9, 126);;
}
.button{
    background-color:rgb(197, 143, 197); ;
    color:rgb(9, 9, 126) ;
    padding: 10px;
    border:none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}
.buttoncontainer{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-around;
}