.container {
  margin: 20px auto;
  width: 300px;
  position: relative;
}
.input {
  border: none;
  border-bottom: 1px solid blue;
  text-indent: 2em;
  width: 100%;
  padding: 10px 20px;
  outline: dodgerblue;
  font-size: 20px;
  color: blue;
}
.inputhelper {
  margin-top: 8px;
  font-size: 12px;
  color: #b00020;
}
